/* This file contains general rules for styling of body, navigation bar and footer */
:root {
  --main-blue: rgb(39, 136, 247);
  --secondary-blue: #8ea4d2;
  --main-white: #f8efef;
}

body {
  margin: 0;
  background-color: rgb(231, 236, 243);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the Navbar */
.navbar {
  background-color: var(--main-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

a {
  text-decoration: none;
}

/* styling navbar and the related elements to make the page responsive */
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
  }

  .links a {
    margin-right: 0;
  }
}

/* Styling the Navbar icon */
.icon {
  color: var(--main-white);
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon img {
  width: 30px;
  height: auto;
}

.icon a {
  color: white;
  font-size: 20px;
}

/* Styling the Navbar links */

.links a {
  color: var(--main-white);
  margin-right: 40px;
  font-size: 20px;
}

.links a:hover {
  color: lightgray;
  background-color: var(--secondary-blue);
  padding: 15px;
}

/* Styling the main element */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Styling the footer */
footer {
  background-color: var(--main-blue);
  color: var(--main-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

/* Styling the footer contacts section */
.footerContacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 18px;
}

footer p {
  text-align: center;
  padding: 0 5px 5px 0;
  font-size: 12px;
}

/* Styling footer links */
.footerContacts a {
  padding: 20px;
  color: var(--main-white);
  text-decoration: none;
  margin-left: 75px;
}

.footerContacts a:hover {
  text-decoration: underline;
}

/* styling footer and the related elements to make the page responsive */
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  footer p {
    font-size: x-small;
  }
}
