/* This file contains general rules for styling of body, navigation bar and footer */
:root {
  --main-blue: rgb(39, 136, 247);
  --secondary-blue: #8ea4d2;
  --main-white: #f8efef;
}

body {
  margin: 0;
  background-color: rgb(231, 236, 243);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styling the Navbar */
.navbar {
  background-color: var(--main-blue);
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

/* styling navbar and the related elements to make the page responsive */
@media only screen and (max-width: 600px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
  }

  .links a {
    margin-right: 0;
  }
}

/* Styling the Navbar icon */
.icon {
  color: var(--main-white);
  margin-left: 20px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.icon img {
  width: 30px;
  height: auto;
}

.icon a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

/* Styling the Navbar links */

.links a {
  color: var(--main-white);
  margin-right: 40px;
  font-size: 20px;
}

.links a:hover {
  color: lightgray;
  background-color: var(--secondary-blue);
  padding: 15px;
}

/* Styling the main element */
.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

/* Styling the footer */
footer {
  background-color: var(--main-blue);
  color: var(--main-white);
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

/* Styling the footer contacts section */
.footerContacts {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  font-size: 18px;
}

footer p {
  text-align: center;
  padding: 0 5px 5px 0;
  font-size: 12px;
}

/* Styling footer links */
.footerContacts a {
  padding: 20px;
  color: var(--main-white);
  text-decoration: none;
  margin-left: 75px;
}

.footerContacts a:hover {
  text-decoration: underline;
}

/* styling footer and the related elements to make the page responsive */
@media only screen and (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  footer p {
    font-size: x-small;
  }
}
