h1 {
  text-align: center;
  color: rgb(19, 74, 138);
}
.bubbles{
  position:absolute;
  width:100%;
  height: 100%;
  z-index:0;
  overflow:hidden;
  top:0;
  left:0;
}
.bubble{
  position: absolute;
  bottom:-100px;
  width:40px;
  height: 40px;
  background:#f1f1f1;
  border-radius:50%;
  opacity:0.5;
  animation: rise 10s infinite ease-in;
}
.bubble:nth-child(1){
  width:40px;
  height:40px;
  left:10%;
  animation-duration:8s;
}
.bubble:nth-child(2){
  width:20px;
  height:20px;
  left:20%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(3){
  width:50px;
  height:50px;
  left:35%;
  animation-duration:7s;
  animation-delay:2s;
}
.bubble:nth-child(4){
  width:80px;
  height:80px;
  left:50%;
  animation-duration:11s;
  animation-delay:0s;
}
.bubble:nth-child(5){
  width:35px;
  height:35px;
  left:55%;
  animation-duration:6s;
  animation-delay:1s;
}
.bubble:nth-child(6){
  width:45px;
  height:45px;
  left:65%;
  animation-duration:8s;
  animation-delay:3s;
}
.bubble:nth-child(7){
  width:90px;
  height:90px;
  left:70%;
  animation-duration:12s;
  animation-delay:2s;
}
.bubble:nth-child(8){
  width:25px;
  height:25px;
  left:80%;
  animation-duration:6s;
  animation-delay:2s;
}
.bubble:nth-child(9){
  width:15px;
  height:15px;
  left:70%;
  animation-duration:5s;
  animation-delay:1s;
}
.bubble:nth-child(10){
  width:90px;
  height:90px;
  left:25%;
  animation-duration:10s;
  animation-delay:4s;
}
@keyframes rise{
  0%{
    bottom:-100px;
    transform:translateX(0);
  }
  50%{
    transform:translate(100px);
  }
  100%{
    bottom:1080px;
    transform:translateX(-200px);
  }
}
/* Styling the welcome container */
.welcome {
  text-align: center;
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  border-color: var(--secondary-blue);
  padding: 20px 0;
}

.welcome p {
  color: rgb(19, 74, 138);
  margin-top: 20px;
}

/* Styling the goal container */
.goals {
  display: grid;
  grid-template-columns: 2fr 2fr;
  justify-content: space-evenly;
}

.goal {
  text-align: center;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid;
  border-radius: 5px;
  border-color: var(--secondary-blue);
  max-width: 300px;
  background-color: white;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling the progress bar */
#goalBar {
  width: 100%;
  height: 20px;
  appearance: none;
  border: none;
  background-color: #f1f1f1;
  border-radius: 10px;
  margin: 10px 0;
}

/* Styling the progress bar value */
#goalBar::-webkit-progress-value {
  background-color: rgb(19, 74, 138);
  border-radius: 5px;
}

/* Styling the labels */
.goal p {
  margin: 5px 0;
}

.moneyGoal {
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .goals {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: max-content;
  }
}

/* Styling the pages container */
.pages {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 0px;
  margin: 5rem 100px;
}

/* Styling each link set */
.linkPages {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 150px;
  gap: 1rem;
}

.linkPages img {
  max-width: 220px;
  height: 150px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(19, 74, 138);
}

.linkPages a {
  color: #333;
  font-size: 16px;
  border: 1px solid;
  border-radius: 10px;
  border-color: rgb(19, 74, 138);
  background-color: white;
  padding: 5px 10px;
  text-align: center;
}

.linkPages a:hover {
  color: lightgray;
}

@media only screen and (max-width: 600px) {
  .pages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

/* Styling the preferences  */
#preferences {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: large;
  /* max-width: 400px; */

  word-wrap: break-word;
  border: 1px solid var(--secondary-blue);
  border-radius: 5px;
  background-color: white;
  /* margin: 2rem; */
  padding: 1rem;
  /* background-color: red; */
}

#preferences h2 {
  text-align: center;
  color: #0056b3;
  margin: 2rem;
}

.preference {
  padding: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}

.button {
  display: flex;
  justify-self: center;
  justify-content: center;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 1rem;
}

button:hover {
  background-color: #0056b3;
}
