h1 {
  color: #134a89;
  text-align: center;
  margin-bottom: 4px;
}
h2 {
  text-align: center;
  margin-bottom: 4px;
}

/*nMaking a box around 'today's tip'*/
.container {
  border: 1px solid black;
  padding: 10px;
  width: 400px;
  margin: auto;
  margin-bottom: 20px;
}

button {
  display: block;
  margin: 20px auto;
  background: #134a89;
  color: #fffdf2;
  font-size: 20px;
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}
