    h1 {
        color: #134a89;
        text-align: center;
        margin-bottom: 4px;
      }
      h2 {
        text-align: center;
        margin-bottom: 4px;
      }

      /*Making a box around 'today's tip'*/
      .container {
        border: 1px solid black;
        padding: 10px;
        width: 400px;
        margin: auto;
        margin-bottom: 20px;
      }

      button {
        display: block;
        margin: 20px auto;
        background: #134a89;
        color: #fffdf2;
        font-size: 20px;
        padding: 15px 20px;
        border: none;
        border-radius: 10px;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
        transition: all 200ms ease-in-out;
      }

      button:hover {
        opacity: 0.8;
        cursor: pointer;
      }
      :root {
        --main-blue: rgb(39, 136, 247);
        --secondary-blue: #8ea4d2;
        --main-white: #f8efef;
      }

      body {
        margin: 0;
      }

      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      a {
        text-decoration: none;
      }

      h1 {
        text-align: center;
        margin-top: 30px;
        color: rgb(19, 74, 138);
      }

      /* Styling the Navbar */
      .navbar {
        background-color: var(--main-blue);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
        /* overflow: hidden; */
      }

      @media only screen and (max-width: 600px) {
        .navbar {
          display: flex;
          justify-content: space-between;
          align-items: first baseline;
          /* padding: 10px; */
        }

        .links a {
          margin-right: 0;
        }
      }

      /* Styling the Navbar icon */
      .icon {
        /* text-align: center; */
        color: var(--main-white);
        margin-left: 20px;
        display: flex;
        align-items: center;
        gap: 5px;
      }

      .icon img {
        width: 30px;
        height: auto;
      }

      /* Styling the Navbar links */
      .links {
        margin-right: 40px;
      }

      .links a {
        color: var(--main-white);
        margin-right: 40px;
        font-size: 20px;
      }

      .links a:hover {
        color: lightgray;
        background-color: var(--secondary-blue);
        padding: 15px;
      }

      /* Styling the footer */
      footer {
        background-color: var(--main-blue);
        color: var(--main-white);
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
      }

      /* Styling the footer content */
      footer p {
        margin: 5px;
      }

      /* Styling the footer contacts section */
      .footerContacts {
        display: flex;
        justify-content: space-between;
        padding: 20px 10px;
        gap: 1rem;
        /* margin-top: 10px; */
        font-size: 18px;
        /* text-align: left; */
      }

      footer p {
        display: flex;
        align-self: flex-end;
        padding: 0 5px 5px 0;
      }

      /* Styling footer links */
      .footerContacts a {
        color: var(--main-white);
        text-decoration: none;
      }

      .footerContacts a:hover {
        text-decoration: underline;
      }

      @media only screen and (max-width: 600px) {
        footer {
          display: flex;
          flex-direction: column;
        }

        footer p {
          font-size: x-small;
        }
      }


      /* Styling the pages container */
      .pages {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        gap: 50px;
        margin: 5rem 0;
      }

      /* Styling each link set */
      .linkPages {
        display: flex;
        flex-direction: column;
        text-align: center;
        min-width: 250px;
        gap: 1rem;
      }

      .linkPages img {
        max-width: 250px;
        height: 150px;
      }

      .linkPages a {
        color: #333;
        font-size: 16px;
      }

      .linkPages a:hover {
        color: lightgray;
      }

      @media only screen and (max-width: 600px) {
        .pages {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
